PORT=5000
DB_URL=mongodb://admin:password@localhost:27017/blog?authSource=admin
BASE_URL=http://localhost:5173
SECRET=Thanawat_jwt_token_12345

# DB_URL=mongodb://admin:password@localhost:27017/blog?authSource=admin